{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	encode zstd gzip
	request_body {
		max_size 6MB
	}
	reverse_proxy web:8000 {
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}
}
